<h1>All Pets</h1>
<div class="pet-cards">
  <% if @pets.any? %>
    <% @pets.each do |pet| %>
      <div class="pet-card">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
        <div class="pet-details">
          <div>
            <h2><%= pet.name %></h2>
            <i><%= pet.species %></i> |
            <%= pet.description %>
          </div>
          <p>$<%= pet.price %> /day</p>
          <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-pet-user avatar-bordered" />
        </div>
        <%= link_to "", pet_path(pet), class:"card-pet-link" %>
      </div>
    <% end %>
  <% else %>
    <h2>Sorry, no pets found!</h2>
  <% end %>
</div>